@font-face {
    font-family: 'YeogiOttaeJalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
}
main.swiper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    max-width: 70vw;
    max-height: 80vh;
    height: 100vh;
    overflow: hidden;
}
main.swiper>[class*=slide-]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    gap: 5px;
    opacity: 0;
    transition: 0.5s;
}
main.swiper>[class*=slide-] p{
    font-family: 'Pretendard';
    font-size: 14px;
    color: #fff;
}
main.swiper>[class*=slide-].active{
    opacity: 1;
}
.slide-start-img{
    position: relative;
    width: 100%;
    max-width: 12vw;
    padding-top: 65%;
}
.slide-start-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
section.swiper-slide{
    max-width: 70vw;
    width: 100%;
    display: flex;
}

.main-inner .detail-page{
    position: relative;
    min-width: 30vw;
    max-height: 150vh;
    width: 50%;
    overflow-y: scroll;
}
.detail-page.right .page-img{
    padding: 70% 0;
}
.detail-page .page-mp4{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 30vw;
    width: 100%;
    z-index: 50;
}
.page-mp4 iframe{
    position: absolute;
    min-width: 460px;
    min-height: 84.5vh;
    height: 100%;
    aspect-ratio: 9/16;
    top: 0%;
    margin-top: 65%;
    object-fit: cover;
    -webkit-overflow-scrolling: touch;
}
.detail-page .page-img{
    position: relative;
    min-width: 30vw;
    width: 100%;
    padding: 100% 0;
    background-color: #fff;
}
.detail-page .page-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

/* DETAIL PAGE 크기 조정 */
/* .detail-page.two .page-img{
    padding: 70% 0;
}
.detail-page.three .page-img{
    padding: 78.5% 0;
}
.detail-page.four .page-img{
    padding: 52.5% 0;
}
.detail-page.five .page-img{
    padding: 65.5% 0;
}
.detail-page.six .page-img{
    padding: 68.5% 0;
}
.detail-page.seven .page-img{
    position: relative;
    padding: 65.5% 0;
}
.detail-page.eight .page-img{
    padding: 78% 0;
} */

/* SWIPER 버튼 간격 조정 */
.swiper-button-next{
    margin-right: 10vw !important;
    z-index: 100;
}
.swiper-button-prev{
    margin-left: 10vw !important;
    z-index: 100;
}
[class*='swiper-button-']{
    border-radius: 50px;
    padding: 10px;
    background-color: black;
}
[class*='swiper-button-'] svg{
    color: #fff;
}

.detail-page.seven .page-img a{
    position: absolute;
    display: inline-block;
    width: 100%;
    z-index: 100;
    font-size: 24px;
    color: #222;
    font-family: 'YeogiOttaeJalnanGothic';
    text-align: center;
    bottom: 0;
    margin-bottom: 38%;
}

@media (max-width:1800px){
    .page-mp4 iframe{
        position: absolute;
        min-width: 400px;
        min-height: 70.5vh;
        height: 100%;
        aspect-ratio: 9/16;
        top: 0%;
        margin-top: 65%;
        object-fit: cover;
    }
}
@media (max-width:1500px){
    .page-mp4 iframe{
        position: absolute;
        min-width: 450px;
        min-height: 86.5vh;
        height: 100%;
        aspect-ratio: 9/16;
        top: 0%;
        margin-top: 65%;
        object-fit: cover;
    }
    .detail-page.seven .page-img a{
        font-size: 20px;
    }
}
@media (max-width:768px){
    main.swiper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100vw;
        max-height: 100vh;
        height: 100vh;
        overflow: hidden;
    }
    section.swiper-slide{
        max-width: 100vw;
    }
    .detail-page{
        position: relative;
        min-width: 100vw;
        max-height: 100vh;
        width: 100%;
        overflow-y: scroll;
    }
    .page-mp4 iframe{
        position: absolute;
        max-width: 70vw;
        height: 65vh;
        margin-top: 65%;
    }
    .swiper-button-next{
        margin-right: 1vw !important;
        z-index: 100;
    }
    
    .swiper-button-prev{
        margin-left: 1vw !important;
        z-index: 100;
    }
    [class*='swiper-button-']{
        position: relative;
        border-radius: 50px;
        padding: 5px 5px;
        background-color: transparent;
    }
    .swiper-button-next svg{
        position: absolute;
        color: #000;
        max-width: 20px;
        max-height: 20px;
    }
    .swiper-button-prev svg{
        position: absolute;
        color: #000;
        max-width: 20px;
        max-height: 20px;
    }
    .detail-page.seven .page-img a{
        font-size: 20px;
    }
}
@media (max-width:500px){
    .page-mp4 iframe{
        position: absolute;
        min-height: unset;
        min-width: 28vw;
        height: 470px;
        margin-top: 66%;
    }
    .detail-page.seven .page-img a{
        font-size: 14px;
    }
}